<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:yolo="http://github.com/bjoern2/schema/yolotyrion"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://github.com/bjoern2/schema/yolotyrion http://github.com/bjoern2/schema/yolotyrion/yolotyrion.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		">

	<context:component-scan base-package="com.github.bjoern2.yolotyrion.spring" />

	<yolo:repository basePackage="com.github.bjoern2.yolotyrion.spring" />

</beans>
